@use "/src/scss/variables" as v;

.comment-info {
	> img {
		width: 2rem;
	}
	> .user-name {
		color: v.$clr-text-neutral-500;
		font-weight: 500;
	}
	> .date {
		color: v.$clr-text-400;
	}

	> .current-user {
		&::after {
			display: flex;
			align-items: center;

			content: "you";
			margin-left: 0.5em;
			padding: 0.5em;
			height: 2.25ch;

			background-color: v.$clr-text-primary-500;
			border-radius: v.$border-radius * 0.5;
			color: white;
			font-size: .7em;
		}
	}
}