@use "/src/scss/variables" as v;

.comment {
	gap: 1.25em;
	padding: 1em;
	background-color: v.$clr-comment-bg;
	border-radius: v.$border-radius;

	> p {
		color: v.$clr-text-400;
	}
}
.replies {
	padding-left: 1em;
	border-left: 1px solid v.$clr-reply-border;
}