@use "/src/scss/variables" as v;

.votes {
	background-color: v.$clr-bg;
	border-radius: v.$border-radius;

	> p {
		transition: width v.$transition-duration ease-in-out;
		text-align: center;
		margin: 0 .25em;
	}
	> img {
		cursor: pointer;
		padding: .8em;

		&:hover {
			filter: saturate(2000%) brightness(0.7);
		}
	}
}