@use "./variables"as v;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	transition: filter v.$transition-duration ease-in-out;
}
body {
	background-color: v.$clr-bg;
	scroll-behavior: smooth;
}
button {
	border: none;
	background: none;
	cursor: pointer;
	font-size: v.$fs-normal;
	white-space: nowrap;
}
button:disabled {
	filter: opacity(0.5);
	cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: v.$clr-text-neutral-500;
	margin: initial; // override normalize.css
}
p {
	line-height: v.$line-height;
	color: v.$clr-text-400;
}
label {
	color: v.$clr-text-neutral-500;
	user-select: none;
}
textarea {
	width: 100%; // when editing comment
	min-height: 5rem;
	padding: 1em;
	border: 1px solid v.$clr-reply-border;
	border-radius: v.$border-radius;
	font-size: v.$fs-normal;
	line-height: v.$line-height;

	resize: none;
	outline: none;
	box-shadow: none;

	&:focus {
		border-color: transparent;
		outline: 1px v.$clr-text-primary-500 solid;
	}
}
input:not([type=checkbox]):not([type=radio]) {
	padding: .5em;
	border: 1px solid v.$clr-text-400;
	border-radius: v.$border-radius-small;
}
input:focus:not([type=checkbox]):not([type=radio]) {
	border-color: transparent;
	outline: 2px solid v.$clr-text-primary-500;
}

#root {
	// Required for navbar <hr /> to have height (for some reason)
	display: grid;
}
.comments {
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 1rem 1rem 2rem;
	gap: 1rem;
}