@use "./variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	transition: filter v.$transition-duration ease-in-out;
}
body {
	background-color: v.$clr-bg;
	scroll-behavior: smooth;
}
#root {
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 2em 1em;
	gap: 1em;
}
button {
	border: none;
	background: none;
	cursor: pointer;
}
p {
	line-height: 1.5em;
	color: v.$clr-text-400;
}