@use "./variables"as v;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	transition: filter v.$transition-duration ease-in-out;
}
body {
	background-color: v.$clr-bg;
}
button {
	border: none;
	background: none;
	cursor: pointer;
}
p {
	line-height: 1.5em;
}

/* Modal transitions */
$modal-transition-duration: v.$transition-duration*2;
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity $modal-transition-duration ease-in-out;
}
.ReactModal__Overlay--after-open {
	opacity: 1;
}
.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content{
	transform: scale(0.5);
	opacity: 0;
	transition: all $modal-transition-duration ease-in-out;
}
.ReactModal__Content--after-open {
	transform: scale(1);
	opacity: 1;
}
.ReactModal__Content--before-close {
	transform: scale(0.5);
	opacity: 0;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 1em;
	gap: 1em;
}