@use "/src/scss/variables" as v;

/* LAYOUT */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-ai-c {
	display: flex;
	align-items: center;
}
.f-col {
	display: flex;
	flex-direction: column;
}
.g-1 {
	gap: 1em;
}
.g-1-5 {
	gap: 1.5em;
}
.hide-empty > *:empty {
	display: none;
}
.pad-1-2 {
	padding: 1em 2em;
}
.left-right {
	display: flex;
	align-items: center;

	> :last-child {
		margin-left: auto;
	}
}

/* APPEARANCE */
.text-purple {
	color: v.$clr-text-primary-500;
	font-weight: 500;
}
.text-red {
	color: v.$clr-text-red-500;
	font-weight: 500;
}
.bg-red {
	background-color: v.$clr-text-red-500 !important;
}
.bg-purple {
	background-color: v.$clr-text-primary-500 !important;
}

.hover-opacity:hover {
	filter: opacity(0.5);
}
.hover-underline:hover {
	text-decoration: underline;
}

.profile-pic {
	width: 2rem;
}
.card {
	padding: 1em;
	background-color: v.$clr-card-bg;
	border-radius: v.$border-radius;
}