$clr-bg: hsl(228, 33%, 97%);
$clr-card-bg: hsl(0, 0%, 100%);
$clr-reply-border: hsl(223, 19%, 93%);
$clr-red: hsl(358, 79%, 66%);

$clr-text-400: hsl(211, 10%, 45%);
$clr-text-primary-500: hsl(238, 40%, 52%);
$clr-text-neutral-500: hsl(212, 24%, 26%);
$clr-text-light: hsl(239, 57%, 85%);

$fs-big: 1.25rem;
$fs-normal: 1rem;
$fs-small: 0.9rem;
$fs-xsmall: 0.7rem;
$line-height: 1.5em;

$border-radius: 0.5em;
$border-radius-small: 0.5 * $border-radius;

$transition-duration: 100ms;
$modal-transition-duration: $transition-duration * 2;

$breakpoint-pc: 769px;
