@use "/src/scss/variables" as v;

.PopupModal__Content {
	margin: 1em;
	padding: 1.75em !important;
	outline: none;

	> h1 {
		font-size: v.$fs-big;
	}
	
	transform: scale(0.5);
	opacity: 0;
	transition: all v.$modal-transition-duration ease-in-out;

	@media (min-width: v.$breakpoint-pc) {
		padding: 2em !important;
	}
}
.PopupModal__Content--after-open {
	transform: scale(1);
	opacity: 1;
}
.PopupModal__Content--before-close {
	transform: scale(0.5);
	opacity: 0;
}

.PopupModal__Overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(black, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	opacity: 0;
	transition: opacity v.$modal-transition-duration ease-in-out;
}
.PopupModal__Overlay--after-open {
	opacity: 1;
}
.PopupModal__Overlay--before-close {
	opacity: 0;
}