@use "/src/scss/variables"as v;

.header {
	position: sticky;
	top: 0;
	padding: 1.5em;
	background-color: v.$clr-card-bg;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);

	@media (min-width: v.$breakpoint-pc) {
		padding: 2em;
	}
}
.header-text {
	font-size: clamp(1.135rem, 5.14vw, 1.5rem);
	color: v.$clr-text-neutral-500;
}

.navbar {
	height: 100%;
}
.icon {
	@media (min-width: v.$breakpoint-pc), (max-width: 40.5625rem) {
		width: 1.25rem;
		height: 1.25rem;
	}
}